.idea
.DS_Store
.env
.netlify
.redwood
dev.db
dist
dist-babel
node_modules
yarn-error.log

# serverless related ignores, see api/src/docker/openscad/Dockerfile for aws-lambda-rie info
.serverless
aws-lambda-rie
