# This file contains the configuration settings for your Redwood app.
# This file is also what makes your Redwood app a Redwood app.
# If you remove it and try to run `yarn rw dev`, you'll get an error.
#
# For the full list of options, see the "App Configuration: redwood.toml" doc:
# https://redwoodjs.com/docs/app-configuration-redwood-toml

[web]
  port = 8910
  title = 'CadHub'
  # apiUrl = "/.netlify/functions"
  apiUrl = "https://uk5gegwopd.execute-api.us-east-2.amazonaws.com/.netlify/functions"
  includeEnvironmentVariables = [
    'GOOGLE_ANALYTICS_ID',
    'CLOUDINARY_API_KEY',
    # 'CLOUDINARY_API_SECRET',
    'CAD_LAMBDA_BASE_URL',
    'SENTRY_DSN',
    'SENTRY_AUTH_TOKEN',
    'SENTRY_ORG',
    'SENTRY_PROJECT',
    # 'EMAIL_PASSWORD'
    ]
  # experimentalFastRefresh = true # this seems to break cascadeStudio
[api]
  port = 8911
  schemaPath = "./api/db/schema.prisma"
[browser]
  open = true

[experimental]
  esbuild = true

